*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: linear-gradient(135deg,#141e30,#243b55);
    color:#fff;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    text-align: center;
    background: rgba(255,255,255,0.08);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,255,255,0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}
h1{
    font-size: 2rem;
    margin-bottom: 25px;
    text-shadow: 0 0 10px cyan;
}
.scoreboard{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

}
.score h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.score p{
    font-size: 2rem;
    color: cyan;
    font-weight: bold;

}
.choices{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.choice{
    background: #111;
    color: white;
    border: 2px solid cyan;
    font-size: 3rem;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.choice:hover{
    background: cyan;
    color: #111;
    box-shadow: 0 0 20px cyan;
    transform: scale(1,1);

}
.result{
    margin-top: 30px;
}
#message{
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0 10px cyan;
    margin-bottom: 15px;
    transition: 0.3s;
}
#reset-btn{
    background: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
#reset-btn:hover{
    background: cyan;
    color: #111;
    box-shadow: 0 0 15px cyan;
}